# Terraform Plan Workflow
name: Terraform Plan

on:
  pull_request:
     branches: [ "main" ]

jobs:
  plan:
    runs-on: ubuntu-latest
    env:
      # Use prod tfvars when the PR is targeting main, otherwise default to dev
      TF_VAR_FILE: ${{ github.event.pull_request.base.ref == 'main' ? 'env/prod.tfvars' : 'env/dev.tfvars' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false
      - name: Terraform Plan
        run: terraform plan -var-file="${{ env.TF_VAR_FILE }}"